{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notflix Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <div class="background">
        <div class="content">
            <header>
                <div class="logo">
                    <img src="{% static 'images/notflix-logo.svg' %}" alt="Notflix">
                </div>
                <div class="header-right">
                    <div class="language-selector">
                        <div class="custom-select">
                            <div class="select-selected">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" class="default-ltr-cache-4z3qvp e1svuwfo1"
                                    data-name="Languages" aria-hidden="true">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.7668 5.33333L10.5038 5.99715L9.33974 8.9355L8.76866 10.377L7.33333 14H9.10751L9.83505 12.0326H13.4217L14.162 14H16L12.5665 5.33333H10.8278H10.7668ZM10.6186 9.93479L10.3839 10.5632H11.1036H12.8856L11.6348 7.2136L10.6186 9.93479ZM9.52722 4.84224C9.55393 4.77481 9.58574 4.71045 9.62211 4.64954H6.41909V2H4.926V4.64954H0.540802V5.99715H4.31466C3.35062 7.79015 1.75173 9.51463 0 10.4283C0.329184 10.7138 0.811203 11.2391 1.04633 11.5931C2.55118 10.6795 3.90318 9.22912 4.926 7.57316V12.6667H6.41909V7.51606C6.81951 8.15256 7.26748 8.76169 7.7521 9.32292L8.31996 7.88955C7.80191 7.29052 7.34631 6.64699 6.9834 5.99715H9.06968L9.52722 4.84224Z"
                                        fill="currentColor"></path>
                                </svg>
                                <span>中文</span>
                            </div>
                            <div class="select-items select-hide">
                                <div class="select-item">中文</div>
                                <div class="select-item selected">English</div>
                            </div>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                    <button type="button" class="logout-btn"
                        onclick="document.getElementById('logout-form').submit();">登出</button>
                    <form id="logout-form" method="post" action="{% url 'accounts:logout' %}" style="display: none;">
                        {% csrf_token %}
                    </form>
                    {% else %}
                    <a href="{% url 'accounts:login' %}" class="login-btn">登入</a>
                    {% endif %}
                </div>
            </header>
            <div class="hero-container-wrapper">
                <div class="hero-container">
                    <h1>看不完的電影與節目，還有更多精彩內容</h1>
                    <p>隨處都能觀賞，可隨時取消。</p>
                    <div class="cta">
                        <p>想觀賞這部嗎？請輸入您的電子郵件地址，以建立或重新啟用會員資格。</p>
                        <form>
                            <div class="input-container">
                                <input type="email" id="email" required placeholder=" ">
                                <label for="email">電子郵件地址</label>
                            </div>
                            <button type="submit">開始使用 <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24"
                                    height="24" viewBox="0 0 24 24" role="img" data-icon="ChevronRightStandard"
                                    aria-hidden="true">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.5859 12L8.29303 19.2928L9.70725 
                                20.7071L17.7072 12.7071C17.8948 12.5195 18.0001 12.2652 18.0001 12C18.0001 11.7347 
                                17.8948 11.4804 17.7072 11.2928L9.70724 3.29285L8.29303 4.70706L15.5859 12Z"
                                        fill="currentColor"></path>
                                </svg></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/home.js' %}"></script>
</body>

</html>